<html>

<head>

    <title>Express - Login</title>

</head>

<body>

<h1>Login</h1>

<% if (fail) { %>

    <h2>Login Failed.</h2>

<% } %>

<form method="post" action="login">

    Username: <input type="text" name="username"/>

    Password: <input type="password" name="password"/>

    <input type="submit" value="Login"/>

</form>

</body>

</html>