<form method="POST" enctype="multipart/form-data">

    <label for="user">User:</label>

    <input type="text" id="user" name="user"><br>

    <label for="userfile">File:</label>

    <input type="file" id="userfile" name="userfile"><br>

    <input type="submit">

</form>